@forward 'admin-tabs';
@forward 'admin-components';
@forward 'admin-modals';
@forward 'sales-report';
@forward 'sales-team';
@forward 'marketing-groups';
@forward 'product-modal';
@forward 'cart';
@forward 'login';
@forward 'products';
@forward 'page';
@forward 'cliente';
@forward 'seller';
@forward 'contact';
@forward 'about';
@forward 'legal';
@forward 'price-lists';