@use "../base/variables" as v;
@use "../base/mixins" as m;

.products-page {
  padding: 2rem 0;
  flex: 1;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: v.$negro;
  }
}

// Barra de filtros
.filters-bar {
  background-color: v.$blanco;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(v.$negro, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;

  .form-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    label {
      font-weight: bold;
      white-space: nowrap; 
    }

    select {
      padding: 0.5rem;
      border: 1px solid lighten(v.$negro, 70%);
      border-radius: 0.5rem;
      background-color: v.$blanco;
    }
  }
}

// Cuadricula de producto
.products-grid-container {
  width: 100%;
}

.products-grid {
  @include m.grid(1, 1.5rem);
  @include m.telefono {
    @include m.grid(2, 1.5rem);
  }
  @include m.tablet {
    @include m.grid(3, 1.5rem);
  }
  @include m.desktop {
    @include m.grid(4, 1.5rem); 
  }
}

// Tarjeta de Producto
.product-card {
  background-color: v.$blanco;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(v.$negro, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(v.$negro, 0.15);
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
  }

  &__name {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
  }

  &__category {
    margin: 0;
    color: lighten(v.$negro, 40%);
    font-size: 0.9rem;
  }
  
  &__stock {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: v.$terciario;
    strong {
      color: v.$negro;
    }
  }
  
  &__button {
    margin-top: auto;
    padding: 0.6rem;
    font-size: 0.9rem;

    &:disabled {
      background-color: lighten(v.$negro, 60%);
      cursor: not-allowed;
      transform: none;
    }
  }

  &-details__button{
    margin-top: auto;
    padding: 0.6rem;
    font-size: 0.9rem;
    color: v.$negro;
    background-color: transparent;
    &:hover { background-color: darken(v.$negro, 10%); transform: scale(1.03); color: v.$blanco;}
  }
}