version: '3.8'

services:
  db:
    build:
      context: ./database
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=farmacruz_db
      - POSTGRES_USER=farmacruz_user
      - POSTGRES_PASSWORD=supersecretpassword
    networks:
      - backend-net
    expose:
      - "5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=farmacruz_db
      - POSTGRES_USER=farmacruz_user
      - POSTGRES_PASSWORD=supersecretpassword
      - POSTGRES_HOST=db
    networks:
      - frontend-net
      - backend-net
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"   # Nginx sirve en puerto 80, mapeamos a 3000 en host
    networks:
      - frontend-net
    depends_on:
      - backend

volumes:
  postgres_data:

networks:
  frontend-net:
    driver: bridge
  backend-net:
    driver: bridge
