$fuente_principal: "Open Sans", sans-serif;

$primario: #add7d5;   // Verde agua
$secundario: #752F97; // Morado
$terciario: #095511; // Verde fuerte
$acento: #F53756;     // Rosa fuerte
$amarillo: #FFDD00;   // Amarillo acento
$negro: #1A1A1A;
$blanco: #FFFFFF;

// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
