version: '3.8'

services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
    image: postgrees_farmacruz_image:15-alphine
    container_name: postgres_db
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db_init.sql:/docker-entrypoint-initdb.d/db_init.sql
    ports:
      - "5434:5432"

volumes:
  db_data: