version: '3.8'

services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
    image: postgrees_farmacruz_image:15-alphine
    container_name: postgres_db2
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - db_data2:/var/lib/postgresql/data2
    ports:
      - "5434:5432"

volumes:
  db_data2: